<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<!-- 导入quartz的xml -->
	<import resource="spring-quartz.xml" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="openlab_unit"></property>
	</bean>
	<!-- 邮件开始 -->
	<bean id="mailSender" lazy-init="true"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.qq.com" />
		<property name="port" value="25" />
		<property name="username" value="30756500@qq.com" />
		<property name="password" value="1234qwer" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>
	<!-- 邮件结束 -->

	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory">
			<ref bean="entityManagerFactory" />
		</property>
	</bean>

	<!-- 配置事务的传播特性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="update*"
				rollback-for="java.lang.Exception" />
			<tx:method name="delete*"
				rollback-for="java.lang.Exception" />
			<tx:method name="insert*"
				rollback-for="java.lang.Exception" />
			<tx:method name="add*" rollback-for="java.lang.Exception" />
			<tx:method name="quartz*"
				rollback-for="java.lang.Exception" />
			<tx:method name="view*"
				rollback-for="java.lang.Exception" />
			<!-- 额外的 -->
			<tx:method name="login" rollback-for="java.lang.Exception" />
			<tx:method name="*" read-only="true" propagation="SUPPORTS" />
		</tx:attributes>
	</tx:advice>


	<!-- 那些类的哪些方法参与事务 -->
	<aop:config proxy-target-class="true">
		<aop:pointcut id="allManagerMethod"
			expression="execution(* com.cloudking.openlab.service..*.*(..))" />
		<aop:advisor pointcut-ref="allManagerMethod"
			advice-ref="txAdvice" />
	</aop:config>



	<!-- 使Spring关注Annotation <context:annotation-config/> -->
	<!-- 让Spring通过自动扫描来查询和管理Bean 有了这一句上面的<context:annotation-config/>可以注释掉 -->
	<context:component-scan base-package="com.cloudking.openlab" />
</beans>