@CHARSET "UTF-8";
.detail_wrapper {
	padding: 10px 77px;
}

.detail_item {
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	width: 200px;
}

/* 弹出遮罩层 */
.pop_modalDIV {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #999;
	z-index: 300;
	filter: alpha(opacity =   30);
	-moz-opacity: 0.3;
	opacity: 0.3;
	display: none;
}

/* 弹出层 */
.pop {
	width: 280px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	/*margin-top: -230px;
	margin-left: -340px;*/
	margin-top: -190px;
	margin-left: -150px;
	display: none;
	font-size: 12px;
	font-family: '微软雅黑';
	z-index: 888;
}

.pop_caption {
	width: 100%;
	height: 28px;
	background-color: #BCD2EE;
	float: left;
	border: none 5px #ffffff;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.pop_caption p {
	display: block;
	width: auto;
	height: 20px;
	line-height: 29px;
	font-weight: bold;
	color: #04468C;;
	margin-left: 10px !important;
	margin-left: 5px;
	float: left;
	font-size: 12px;
}

.pop_caption_close {
	display: block;
	width: 23px;
	height: 29px;
	margin-right: 8px;
	float: right;
	text-decoration: none;
	color: white;
	margin-top: 5px;
}

.pop_content {
	width: 100%;
	height: auto;
	background-color: #BCD2EE;
	padding: 0px 7px;
	float: left;
}

.pop_bottom {
	width: 100%;
	height: 38px;
	background-color: #BCD2EE;
	float: left;
	border: none 5px #ffffff;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.pop_btn_div {
	width: 100%;
	height: 22px;
	margin-top: 8px;
}

#pop_btn_div_save_wrapper {
	float: right;
	margin-right: 10px;
}

.pop_table {
	width: 95%;
	font-family: '微软雅黑';
	font-size: 12px;
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid #ccc;
}

.pop_table_bg {
	background-color: #BCD2EE;
}

/* extjs 表格鼠标移动上去黑体 */
.x-grid-row-over .x-grid-cell-inner {
	font-weight: bold;
}
.mouseHover:hover{cursor:pointer;}
.x-grid-checkheader
{
    background: url('../extjs/ux/css/images/unchecked.gif') no-repeat center center;
}
.x-grid-checkheader-checked
{
    background: url('../extjs/ux/css/images/checked.gif') no-repeat  center center;
}
.actionColumnImg{width:16px;height:16px;}
.banner_title{
	float: left;
	font-size: 22px;
	color: #104E8B;
	font-weight: bold;
	padding-top: 20px;
	padding-left:20px;
	text-shadow: 5px 5px 5px #CCC;
}
.banner_img{float:left;}
.userNameHref{text-decoration:underline;}
.userNameHref:hover{cursor:pointer;}