<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- 配置监听器 -->
	<!-- log4j -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>openlab.root</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>3000</param-value>
	</context-param>
	
	


	<!-- 配置Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	
	<listener>
		<listener-class>
			com.cloudking.openlab.StartupListener
		</listener-class>
	</listener>
	<listener> 
    	<listener-class>com.cloudking.openlab.SessionListener</listener-class> 
	</listener> 
	
	
	<!-- 配置Struts 2.0 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>






	<!-- 验证码 -->
	<servlet>
		<servlet-name>VerifyCode</servlet-name>
		<servlet-class>com.cloudking.openlab.VerifyCodeServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>TwoDimensionCode</servlet-name>
    <servlet-class>com.cloudking.openlab.TwoDimensionCode</servlet-class>
  </servlet>

	<servlet-mapping>
		<servlet-name>VerifyCode</servlet-name>
		<url-pattern>/VerifyCode</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>TwoDimensionCode</servlet-name>
    <url-pattern>/TwoDimensionCode</url-pattern>
  </servlet-mapping>


	<!-- sitemesh -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<!-- 修改web.xml的超时时间，分钟 -->
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	
	
	<!-- 其他配置 -->
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error/common.jsp</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
